* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html, body {
    height: 100vh;
}

body {
    background: rgb(240, 240, 240);
    font-family: Arial, Helvetica, sans-serif;
}

.text-center {
    text-align: center !important;
}

.mb-20 {
    margin-bottom: 20px;
}

#title {
    color: green;
    text-align: left;
    padding-bottom: 20px;
}

.form {
    width: 40%;
    border: 1px solid #C0C0C0;
    margin: 50px auto;
    padding: 20px;
    background: #FFF;
}

.form-label {
    display: block;
    width: 100%;
}

.form-input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 20px;
}

.form a {
    text-decoration: none;
    color: green;
    font-size: 10px;
}

.container {
    width: 100%;
    display: flex;
}

nav {
    width: 15%;
    background: green;
    height: 100vh;
}

nav ul {
    list-style: none;
}

nav ul li {
    color: #FFF;
}

nav ul li a {
    color: #FFF;
    text-decoration: none;
    display: block;
    padding: 10px
}

nav ul li a:hover {
    background: rgb(8, 98, 8);
}

main {
    padding: 20px;
    width: 85%;
}

.table {
    width: 100%;
}

.table thead {
    background: green;
}

.table thead td {
    color: white;
}